# AWS Region
NEXT_PUBLIC_APP_REGION=<NEXT_PUBLIC_APP_REGION>

# Cognito User Pool
NEXT_PUBLIC_USER_POOL_ID=<NEXT_PUBLIC_USER_POOL_ID>
NEXT_PUBLIC_USER_POOL_CLIENT_ID=<NEXT_PUBLIC_USER_POOL_CLIENT_ID>

# Backend API Gateway base URL
NEXT_PUBLIC_API_URL=<NEXT_PUBLIC_API_URL>

# Supabase
NEXT_PUBLIC_SUPABASE_URL=<NEXT_PUBLIC_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<NEXT_PUBLIC_SUPABASE_ANON_KEY>
